.btn{
    margin: .3rem;
    border-radius: 10px;
    width: 45px;
    height: 40px;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    color: #339DFF;
    font-weight: bold;
    font-size: 20px;
}
.zero{
    width: 105px;
}
