main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    box-shadow: black;
    width: 15rem;
    height: 22.5rem;
    margin: .5rem;
}
.light{
    background-color: #000000;
}
.dark{
    background-color: #BBDDF6;
}
.container div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
input{
    background-color: #000000;
    border: none;
    font: inherit;
    outline: inherit;
    height: 35px;
    margin: .5rem;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.inputsContainer{
    display: flex;
    flex-direction: column !important;
}
.buttonsContainer{
    display: flex;
    flex-direction: column !important;
}
