main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #BBDDF6;
  box-shadow: black;
  width: 15rem;
  height: 22.5rem;
  margin: .5rem;
}
input{
  background-color: #BBDDF6;
  border: none;
  font: inherit;
  outline: inherit;
  height: 35px;
  margin: .5rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.inputsContainer{
  display: flex;
  flex-direction: column !important;
}
.buttonsContainer{
  margin: auto auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 7px 12px;
  text-align: center;
}
.btn {
  background-color: #38b9ff;
  color: #FFF;
  text-align: center;
  border-radius: 10px;
  width: 45px;
  height: 40px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: bold;
  font-size: 20px;
}
.btn.operator{
  background-color: #add8ff;
  color: #339dff;
}
.btn.equal{
  background-color: #1991ff;
  color: #b2daff;
}
.btn.clear{
  background-color: #FFF;
  color: #a5a5a5;
}
.btn.zero {
  grid-column-end: span 2;
  width: 102px;
}
.toggleTheme{
  display: none;
}
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin: 1rem;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
 dark mode
 */
main.dark section{
  background-color: #000000;
}
main.dark input{
  background-color: #000000;
}
main.dark .btn.clear{
  background-color: #616161;
  color: #a5a5a5;
}
main.dark .btn.operator{
  background-color: #005db2;
  color: #339dff;
}
main.dark .btn.equal{
  background-color: #1991ff;
  color: #b2daff;
}
main.dark .btn{
  background-color: #303136;
  color: #29a8ff;
}
